/*******************************************************************************
  style.css, by Brad Mason
  Last updated April of 2012
*******************************************************************************/

/****** Standard element styles ************************************************/

*{
  margin: 0px;
  padding: 0px;
}

html{
  height: 100%;
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.2em;
}

body{
  height: 100%;
  color: #EDE7D5;
  text-shadow: 1px 1px 1px #0F0F0F;
  background-color: #252525;
  background-image: url("../img/bg.png");
}

p{
  margin: 25px 0;
}

h1, h2, h3, h4{
  color: #B7CC18;
  text-shadow: 1px 1px 2px #828E11;
}

h1{
  font-size: 4em;
  margin: 0px 15px 0px;
}

h1 a, h1 a:hover{
  color: #B7CC18;
  border-bottom: none;
}

h2{
  font-size: 1.5em;
  margin: 10px 0px;
}

h3{
  font-size: 1.25em;
  margin: 10px 0px;
}

h4{
  font-size: 1.0em;
  margin: 10px 0px;
}

a{
  color: #7B8A84;
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover{
  color: #8CBFAF;
  text-decoration: none;
  border-bottom: 1px solid;
}

code{
  color: #00FF00;
  text-shadow: 1px 1px 2px #00AA00;
  font: monospace;
  background: #000000;
  margin: 10px;
  border: 3px solid #0F0F0F;
  padding: 15px;
}

/****** Custom element styles *************************************************/

#wrapper{
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

#header{
  background-image: url("../img/bg_dark.png");
  border-bottom: 3px solid #0F0F0F;
  clear: both;
}

#header h1{
  width: 1100px;
  margin: 0 auto;
}

#pagebody{
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 75px;
  clear: both;
}

#me{
  width: 330px;
  margin: 1.5em 0;
  float: left;
}

#about
{
  margin-bottom: 25px;
}

#projects
{
  margin-bottom: 25px;
}

.content{
  max-width: 630px;
  min-height: 80%;
  /*margin: 1.5em 0;*/
  padding: 1.5em 0;
  float : right;
}

.pic img{
  margin: 10px;
  border: 3px solid #0F0F0F;
}

ul#contact{
  margin: 15px 20px;
  list-style: none;
  display: inline;
}

ul#proj-list{
  list-style: none;
  padding-bottom: 5px;
}

#footer{
  height: 50px;
  min-height: 50px;
  width: 100%;
  background-image: url("../img/bg_dark.png");
  border-top: 3px solid #0F0F0F;
  margin-top: 1.5em;
  position: absolute;
  bottom: 0;
}

#wrapper-footer{
  width : 1100px;
  margin: 0 auto;
  vertical-align: middle;
}

#footer ul{
  float: left;
}

#footer a{
  border-bottom: none;
  float: right;
  line-height: 42px;
}

/* Contact icons from Silk, by famfamfam (http://www.famfamfam.com/lab/icons/silk/) */
ul#contact li{display: inline; padding-left: 24px; padding-right: 13px; }
ul#contact li.contact-email{background: url("../img/blips/contact_email.png") left center no-repeat; vertical-align: middle;}
ul#contact li.contact-resume{background: url("../img/blips/contact_resume.png") left center no-repeat; vertical-align: middle;}
ul#contact li.contact-vcard{background: url("../img/blips/contact_vcard.png") left center no-repeat; vertical-align: middle;}

#social li{
  width: 32px;
  height: 32px;
  min-height: 32px;
  list-style: none;
  display: inline;
}

#social li a{
  width: 32px;
  max-width: 32px;
  height: 32px;
  min-height: 32px;
  text-indent: -3000px;
  display: inline-block;
  border: none;
  margin: 5px;
  float: left;
}

/* Social icons from Social Media Icons set by Fine Goods (http://www.finegoodsmarket.com/product/basic-social-media-icons) */
#social #twitter a{background-image: url("../img/social/twitter.png"); background-repeat: no-repeat;}
#social #facebook a{background-image: url("../img/social/facebook.png"); background-repeat: no-repeat;}
#social #gplus a{background-image: url("../img/social/gplus.png"); background-repeat: no-repeat;}
#social #github a{background-image: url("../img/social/github.png"); background-repeat: no-repeat;}
#social #lastfm a{background-image: url("../img/social/lastfm.png"); background-repeat: no-repeat;}
#social #openid a{background-image: url("../img/social/openid.png"); background-repeat: no-repeat;}

div#proj-links ul{
  margin-left: 20px;
}

div#proj-screenshots , div#proj-about, div#proj-links, div#proj-comments{
  clear: both;
}

div#proj-screenshots{
  background-image: url("../img/bg_dark.png");
  padding: 10px;
  border: 3px solid #0F0F0F;
  overflow: hidden;
}

div#proj-screenshots a{
  border-bottom: none;
}

/****** Classes that can be used anywhere *************************************/

.galleryimg{
  float: left;
  /*width: 325px;*/
  padding: 10px;
  vertical-align: middle;
}

/* Filetype icons from Silk set by famfamfam (http://www.famfamfam.com/lab/icons/silk/) */
li.app.osx.cli{list-style-image: url("../img/blips/app_osx_cli.png");}
li.app.osx.gui{list-style-image: url("../img/blips/app_osx_gui.png");}
li.app.plugin{list-style-image: url("../img/blips/app_plugin.png");}
li.app.win.cli{list-style-image: url("../img/blips/app_win_cli.png");}
li.app.win.gui{list-style-image: url("../img/blips/app_win_gui.png");}
li.file.all{list-style-image: url("../img/blips/file_all.png");}
li.file.blank{list-style-image: url("../img/blips/file_blank.png");}
li.file.code{list-style-image: url("../img/blips/file_code.png");}
li.file.excel{list-style-image: url("../img/blips/file_excel.png");}
li.file.picture{list-style-image: url("../img/blips/file_picture.png");}
li.file.text{list-style-image: url("../img/blips/file_text.png");}
li.file.vs{list-style-image: url("../img/blips/file_vs.png");}
li.file.web{list-style-image: url("../img/blips/file_web.png");}
li.file.word{list-style-image: url("../img/blips/file_word.png");}
li.file.zip{list-style-image: url("../img/blips/file_zip.png");}
li.link{list-style-image: url("../img/blips/link.png");}
li.pay.btc{list-style-image: url("../img/blips/pay_btc.png");}
li.pay.ccard{list-style-image: url("../img/blips/pay_ccard.png");}
