/*******************************************************************************
  style.css, by Brad Mason
  Last updated August 2014
*******************************************************************************/

/****** Variables *************************************************************/

@left_colWidth:                 30%;
@right_colWidth:                100% - @left_colWidth;

@left_textColor:                #DEDEDE;
@left_backgroundColor:          #252525;
@right_textColor:               #343434;
@right_backgroundColor:         #EEEEEE;

@avatar_radius_normal:          150px;
@avatar_diameter_hover:         175px;
@avatar_width:                  84px;
@avatar_height:                 108px;

@social_size:                   50px;

/****** Standard element styles ***********************************************/

/* Quick-n-dirty reset */
*{
  margin: 0px;
  padding: 0px;
  ul { list-style-position: inside; }
}

html{
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.35em;
  line-height: 1.65em;
  height: 100%;
}

body{
  color: @right_textColor;
  background-color: @right_backgroundColor;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.10);
  height: 100%;
}

h1, h2, h3, h4, h5, h6
{

}

p{}

a{
  //TODO: Make it look pretty
  text-decoration: none;
  border-bottom: 1px dotted blue;
  position: relative;
  display: inline-block;
  .transition (border 0.75s);

  &:after
  {
    content: "";
    width: 0%;
    height: 2px;
    display: inline-block;
    position: absolute;
    bottom: -1.5px;
    left: 0;
    background-color: red;
    margin-left: 50%;
    margin-top: 1px;
    .transition (~"width 0.5s, margin-left 0.5s");
  }
  &:hover{
    //TODO: Change color
    border-bottom: 1px dotted transparent;

    &:after
    {
      width: 100%;
      margin-left: 0%;
    }
  }
}


/****** Custom element styles *************************************************/
aside#meta, section#content
{
  padding: 1.0em 2.0em;
}

aside#meta
{
  color: @left_textColor;
  background-color: @left_backgroundColor;
  .box-sizing(border-box);
  width: @left_colWidth;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  header
  {
    .pic-circle
    {
      width: @avatar_radius_normal;
      height: @avatar_radius_normal;
      background-color: #02B1F1;
      background-image: url('../img/bg.png');
      background-repeat: repeat;
      background-position: center center;
      background-attachment: fixed;
      margin: ((@avatar_diameter_hover - @avatar_radius_normal) / 2) auto;
      border: 0.2em solid #FFFFFF;
      .border-radius (50%);
      overflow: hidden;
      .transition (~"width 1s, height 1s, margin 1s");
      .animation (animatedCircleBackground 15s linear infinite);
      .animation-play-state (paused);

      & > img
      {
        padding-top: ((@avatar_radius_normal - @avatar_height) / 2);
        .transition (padding-top 1s);
      }

      &:hover
      {
        width: @avatar_diameter_hover;
        height: @avatar_diameter_hover;
        margin: 0 auto;
        .animation-play-state (running);

        & > img
        {
          padding-top: (@avatar_diameter_hover - @avatar_height) / 2;
          transition: padding-top 1s;
          .animation (animatedPictureFloat 1s linear infinite);
          .animation-delay (1s);
        }
      }
    }
  }

  ul#nav-list
  {
    border-bottom: 1px dotted red;
    border-top: 1px dotted red;
    list-style: none outside none;

    li
    {
      display: inline-block;
    }
  }

  ul#social
  {
    list-style: none outside none;

    li
    {
      display: inline-block;

      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      width: @social_size;
      height: @social_size;
      line-height: @social_size;
      background-color: orange;
      .border-radius (50%);

      a
      {
        font-size: 0;                     // Hide the list's actual text
          color: #00FF00;
        .ignore-default-link-style;

        &:before
        {
          color: #0000FF;
          font-size: (@social_size - 20px);
          speak: none;
        }
      }

      &.twitter a:before{content: "\e600";}
      &.github a:before{content: "\e601";}
      &.tumblr a:before{content: "\e602";}
    }
  }



  a
  {
    //color (if different from default)
  }
}

section#content
{
  margin: 3.5em 0 0 @left_colWidth;


  & > div
  {
    margin-bottom: 7.0em;
  }

  &:after
  {
    content: "";
    width: 75%;
    display: block;
    margin: -3.5em auto 3.5em;
    border-bottom: 1px solid red;
  }
}



/****** Icons & Fonts *********************************************************/

@font-face {
  font-family: 'glyphs';
  src: url('fonts/glyphs.eot');
  src: url('fonts/glyphs.eot?#iefix') format('embedded-opentype'),
    url('fonts/glyphs.woff') format('woff'),
    url('fonts/glyphs.ttf') format('truetype'),
    url('fonts/glyphs.svg#glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}

ul#social li
{
  font-family: 'glyphs';
}



/****** Mixins and Animations *************************************************/

.animation (@value) {
  -webkit-animation: @value;
  -moz-animation: @value;
  -o-animation: @value;
  animation: @value;
}

.animation-delay (@value) {
  -webkit-animation-delay: @value;
  -moz-animation-delay: @value;
  -o-animation-delay: @value;
  animation-delay: @value;
}

.animation-play-state (@value) {
  -webkit-animation-play-state: @value;
  -moz-animation-play-state: @value;
  -o-animation-play-state: @value;
  animation-play-state: @value;
}

.transition (@value) {
  -webkit-transition: @value;
  -moz-transition: @value;
  -o-transition: @value;
  transition: @value;
}

.transition-delay (@value) {
  -webkit-transition-delay: @value;
  -moz-transition-delay: @value;
  -o-transition-delay: @value;
  transition-delay: @value;
}

.border-radius (@value) {
  -webkit-border-radius: @value;
  -moz-border-radius: @value;
  -o-border-radius: @value;
  border-radius: @value;
}

.box-sizing (@value) {
  -webkit-box-sizing: @value;
  -moz-box-sizing: @value;
  -o-box-sizing: @value;
  box-sizing: @value;
}

.ignore-default-link-style
{
  // Used to override the default linking style
  border-bottom: none;
  .transition (all 0 ease 0);
  &:after { display: none; }
}

.user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes animatedCircleBackground {
    0% { background-position: 0 0; }
  100% { background-position: 100% 100% ; }
}

@-webkit-keyframes animatedCircleBackground {
    0% { background-position: 0 0; }
  100% { background-position: 100% 100% ; }
}

@keyframes animatedPictureFloat {
    0% { padding-top: (@avatar_diameter_hover - @avatar_height) / 2; }
   25% { padding-top: ((@avatar_diameter_hover - @avatar_height) / 2) + (@avatar_height / 16); }
   50% { padding-top: (@avatar_diameter_hover - @avatar_height) / 2; }
   75% { padding-top: ((@avatar_diameter_hover - @avatar_height) / 2) - (@avatar_height / 16); }
  100% { padding-top: (@avatar_diameter_hover - @avatar_height) / 2; }
}

@-webkit-keyframes animatedPictureFloat {
    0% { padding-top: (@avatar_diameter_hover - @avatar_height) / 2; }
   25% { padding-top: ((@avatar_diameter_hover - @avatar_height) / 2) + (@avatar_height / 16); }
   50% { padding-top: (@avatar_diameter_hover - @avatar_height) / 2; }
   75% { padding-top: ((@avatar_diameter_hover - @avatar_height) / 2) - (@avatar_height / 16); }
  100% { padding-top: (@avatar_diameter_hover - @avatar_height) / 2; }
}
