# Ignore the archive of ancient versions
@old/*

# Ignore things that aren't ready yet
*.wip.*

# Temp files
*.tmp

# That thing where MS Office leaves weird temp files all over the place
~*.doc