# Ignore compiled CSS
styles/portfolio.css

# Ignore things that aren't ready yet
*.wip.*

# Actual temp files
*.tmp
*.temp

# Ignored folders of dependencies
bower_components/
node_modules/
