<!DOCTYPE html>
<!--
      ____                _ __  __                                    _
     |  _ \              | |  \/  |                                  | |
     | |_) |_ __ __ _  __| | \  / | __ _ ___  ___  _ __    _ __   ___| |_
     |  _ <| '__/ _` |/ _` | |\/| |/ _` / __|/ _ \| '_ \  | '_ \ / _ \ __|
     | |_) | | | (_| | (_| | |  | | (_| \__ \ (_) | | | |_| | | |  __/ |_
     |____/|_|  \__,_|\__,_|_|  |_|\__,_|___/\___/|_| |_(_)_| |_|\___|\__|

This page's source is available at https://github.com/DeadlyBrad42/bradmason.net
-->

<html>
<head>

    <!-- Meta data -->
    <meta charset="UTF-8" />
    <meta name="author" content="Brad Mason" />
    <meta name="description" content="Brad Mason, Software Engineer & Indie Gamedev" />
    <meta name="robots" content="ALL" />

    <title>Brad Mason</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/portfolio.css" title="Style" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans" type="text/css" media="screen" />

    <!-- Favicon -->
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <script>
        // Google Analytics code
        // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        // ga('create', 'UA-2725384-2', 'auto');
        //
        // window.gaLog = function(page){ga('send', 'pageview', page);};
    </script>

    <!-- Libs -->
    <script type="text/JavaScript" defer src="scripts/lib/vue.js"></script>
    <script type="text/JavaScript" defer src="scripts/lib/vue-router.js"></script>
    <script type="text/JavaScript" defer src="scripts/lib/konami.js"></script>

    <!-- Components -->
    <script type="text/JavaScript" defer src="scripts/components/descriptionComponent.js"></script>
    <script type="text/JavaScript" defer src="scripts/components/linkListComponent.js"></script>
    <script type="text/JavaScript" defer src="scripts/components/projectListComponent.js"></script>
    <script type="text/JavaScript" defer src="scripts/components/cardComponent.js"></script>

    <!-- App -->
    <script type="text/JavaScript" defer src="scripts/vueEngine.js"></script>
    <script type="text/JavaScript" defer src="scripts/app.js"></script>

</head>
<body id="page-top">



<div id="wrapper">

    <aside id="meta">
    <header id="me">
        <h1><a href="/">Brad Mason</a></h1>
        <div class="avatar-wrapper">
            <figure>
                <figcaption><img src="assets/img/me.png" alt="Brad Mason" /></figcaption>
            </figure>
        </div>
    </header>
    <ul id="nav-list">
        <li><a href="/#about">About</a></li>
        <li><a href="/#projects">Projects</a></li>
        <li><a href="/#games">Games</a></li>
    </ul>
    <ul id="social">
        <li class="twitter"><a href="http://twitter.com/DeadlyBrad42" title="Twitter" target="_blank">Twitter</a></li>
        <li class="github"><a href="https://github.com/DeadlyBrad42" title="Github" target="_blank">GitHub</a></li>
        <li class="tumblr"><a href="http://codemoosey.com/" title="Blog" target="_blank">Blog</a></li>
    </ul>
    </aside>

    <section id="content">
        <vue-card :data="currentData"></vue-card>
    </section>

</div>

<script id="card" type="x-template">
    <article>
        <h2>{{data.title}}</h2>
        <vue-description :text="data.text"></vue-description>
        <ul v-if="data.projects" class="project-list">
            <li v-for="project in data.projects">
                <vue-project :project="project"></vue-project>
            </li>
        </ul>
        <ul v-if="data.links" class="link-list">
            <li v-for="link in data.links">
                <vue-link :link="link"></vue-link>
            </li>
        </ul>
    </article>
</script>

<script id="description" type="x-template">
    <div v-if="text" class="description">
        <p v-for="item in text">{{{item}}}</p>
    </div>
</script>

<script id="project" type="x-template">
    <span class="proj-img"><img v-bind:src="project.imageUrl" /></span>
    <h3>{{project.title}}</h3>
    <time datetime="{{project.datetime}}">{{project.dateTitle}}</time>
    <div class="tagline">{{project.tagline}}</div>
    <vue-description :text="project.description"></vue-description>
    <ul v-if="project.links" class="link-list">
        <li v-for="link in project.links">
            <vue-link :link="link"></vue-link>
        </li>
    </ul>
</script>

<script id="link" type="x-template">
    <a v-bind:href="link.url" class="btn btn-site">{{link.text}}</a>
</script>



</body>
</html>
