// main: portfolio.less
/****** Components ************************************************************/

// Konami Code
.avatar-wrapper figure {
    overflow: hidden;
    figcaption {
        position: relative;

        .specs {
            position: absolute;
            top: -100px;
            left: (-@avatar_konami_spec_width * (1/2)) + (@avatar_width * (1/2));
            .transition (~"top 0.5s ease-in-out");
        }
        .dwi {
            position: absolute;
            top: 150px;
            left: (-@avatar_konami_dwi_width * (1/2)) + (@avatar_width * (1/2));
            .transition (~"top 0.5s ease-in-out");
        }

        body.konami & {
            .specs {
                top: 49px;
            }
            .dwi {
                top: 10px;
            }
        }
    }
}

.avatar-wrapper {
    height: @avatar_diameter_normal;
    display: flex;
    justify-content: center;
    align-items: center;

    figure {
        width: @avatar_diameter_normal;
        height: @avatar_diameter_normal;
        background-color: #02B1F1;
        background-image: url('../assets/img/bg.png');
        background-repeat: repeat;
        background-position: center center;
        background-attachment: fixed;
        border: 0.2em solid @right_imgBorderColor;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .transition(~"width 1s, height 1s");
        .animation (~"animatedCircleBackground 1.5s linear infinite");
        .animation-play-state (~"paused");

        figcaption {
            display: flex;
            align-items: center;
            margin-top: 0;
            margin-bottom: 0;
        }

        &:hover {
            width: @avatar_diameter_hover;
            height: @avatar_diameter_hover;
            .animation-play-state (~"running");

            figcaption {
                .animation(~"animatedPictureFloat 1.5s linear infinite");
            }
        }
    }
}

article {   // Used as a "card"
    background-color: @card_background;
    padding: 1em;
    border: 1px solid @card_border;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.15);
}

ul.project-list {
    list-style: none;

    & > li {
        margin: 1em 0 1.25em;
        .clearfix;

        .proj-img {
            width: 250px;
            height: 250px;
            border: 1px solid @right_textColor;
            float: left;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                transform: scale(1.0, 1.0) rotate(.00001deg); // rotation transform fixes issues with Firefox's terrible image resizing
                .transition (~"transform 1s");
            }
        }

        h3, time, div, ul {
            margin-left: (250px + 2px + 12px);
        }

        time {
            font-style: italic;
            display: block;
            margin-bottom: 0.75em;
        }

        * {
            margin-bottom: 0.25em;
        }

        &:hover span.proj-img img {
            transform: scale(1.5, 1.5) rotate(.00001deg); // rotation transform fixes issues with Firefox's terrible image resizing
        }
    }
}

ul.link-list {
    list-style: none;
    margin-bottom: 1.25em;

    li {
        display: inline;
    }

    .btn {
        .ignore-default-link-style;

        color: @right_textColor;
        padding: 6px;
        margin: 6px 0;
        margin-right: 6px;
        border: 2px solid @right_textColor;
        overflow: hidden;
        -webkit-transform: translateZ(0); // "Hack" to force a new animation rendering layer because Chrome
        transform: translateZ(0);
        .border-radius (8px);
        .transition (~"color 0.25s");
        .transition-delay (~"0.125s");

        &:after {
            display: block;
            content: "";
            background-color: @right_textColor;
            z-index: -1;
            position: absolute;
            margin: 0;
            width: 100%;
            height: 150%;
            top: 100%;
            left: 0;
            right: 0;
            .transition (~"top 0.5s");
        }

        &:hover {
            color: #FFFFFF !important; // FF ignores this color rule after the transition is complete, unless it's marked as !important (I really dont' know why)

            &:after {
                top: -10px;
            }
        }

        &:hover { border: 2px solid @right_textColor !important; }
        &:visited { color: @right_textColor; }
    }
}

.sr-only {
    clip: rect(0, 0, 0, 0);
    position: absolute !important;
    height: 0;
    width: 0;
    overflow: hidden;
}
