// main: portfolio.less
/****** Variables *************************************************************/
// Layout
@meta_colWidth:                 350px;
@content_colMaxWidth:           1050px;

@meta_textColor:                #DEDEDE;
@meta_backgroundColor:          #252525;
@content_textColor:             #343434;
@content_backgroundColor:       #EEEEEE;
@content_imgBorderColor:        #FFFFFF;

@avatar_diameter_normal:        150px;
@avatar_diameter_hover:         @avatar_diameter_normal + 25px;
@avatar_width:                  84px;
@avatar_height:                 108px;
@avatar_margin_topbottom:       50px;
@avatar_background_size:        90px;
@avatar_konami_spec_width:      80px;
@avatar_konami_spec_height:     17px;
@avatar_konami_dwi_width:       143px;
@avatar_konami_dwi_height:      29px;

@meta_verticalMargin:           50px;
@social_size:                   50px;
@social_size_hover:             @social_size + 10px;
@social_color:                  #FFFFFF;
@social_bgcolor_twitter:        #00AAFF;
@social_bgcolor_git:            #FF2464;
@social_bgcolor_blog:           #FF8E00;

@card_border:                   #DDDDDD;
@card_background:               #FFFFFF;

// Breakpoints
@desktop-or-larger: ~"screen and (min-width: 961px)";
@phone-or-smaller: ~"screen and (max-width: 960px)";
@tiny-screen-or-smaller: ~"screen and (max-width: 625px)";
